Package: vitam-imagemagick-griffin
Version: [[version]]
Section: Application/Archiving
Priority: low
Architecture: all
Depends: openjdk-11-jre-headless, imagemagick, vitam-user-vitam
Maintainer: Vitam Package Team
Description: [[description]]