Package: vitam-tesseract-griffin
Version: [[version]]
Section: Application/Archiving
Priority: low
Architecture: all
Depends: vitam-user-vitam, tesseract-ocr
Maintainer: Vitam Package Team
Description: [[description]]