Package: vitam-${unix.name}
Version: [[version]]
Section: Application/Archiving
Priority: low
Architecture: all
Depends: openjdk-8-jre-headless, vitam-user-vitam, tesseract-ocr
Maintainer: Vitam Package Team
Description: [[description]]