Package: vitam-siegfried-griffin
Version: [[version]]
Section: Application/Archiving
Priority: low
Architecture: all
Depends: vitam-user-vitam, vitam-siegfried
Maintainer: Vitam Package Team
Description: [[description]]