Package: unoconv
Version: 0.8.2-1
Architecture: all
Maintainer: Vitam Program <contact.vitam@culture.gouv.fr>
Depends: python3, python3-uno (>= 4.0), libreoffice-writer (= 6.0.7), libreoffice-draw (= 6.0.7), libreoffice-calc (= 6.0.7), libreoffice-impress (= 6.0.7)
Section: text
Priority: extra
Description: converter between LibreOffice document formats
 This package provides a commandline utility which can convert from
 any document format that LibreOffice can import to any document format
 it can export. It uses LibreOffice's UNO bindings for non-interactive
 conversion of documents.
 .
 Supported document formats include Open Document format, MS Word, MS
 Office Open/MS OOXML, PDF, HTML, XHTML, RTF, DocBook, and more.
